.result {
  padding:11px 0px;
  box-shadow: 0px 0px  10px lightgrey;
  border:none;
  border-radius:0px;
  margin-bottom:10px;
}
.result > .container {
  padding:0 !important;
}
.row {
  margin:0;
  line-height: 1.75;
}
.container > div:first-of-type {
  margin-bottom: .5rem;
}
