.welcomeCard {
  margin-top:30px;
  padding:1.5rem;
  box-shadow: 0px 0px  10px lightgrey;
  border:none;
  border-radius:0px;
  margin-bottom:10px;
}

.loginButtonContainer {
  display:flex;
  justify-content:space-between;
}
